<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<title>隐私协议</title>
</head>

<body >

<div style="width: 90%;font-size:15;margin: 0 auto">
	<h2>Privacy agreement</h2>

This app respects and protects the privacy of all users who use the service. In order to provide you with more accurate and personalized services, this app will use and disclose your personal information in accordance with this Privacy Policy. However, this application will treat this information with a high degree of diligence and prudence. Except as otherwise provided in this Privacy Policy, this application will not disclose or provide this information to third parties without your prior permission. This app will update this privacy policy from time to time. By agreeing to this Application Services Use Agreement, you are deemed to have agreed to the entire content of this Privacy Policy. This Privacy Policy is an integral part of this Application Service Agreement.<br>
 
1. Scope of application<br>
a) After you use this application web service, you will be able to get your network data to help you choose the reliable carrier.<br>
2. Information use<br>
a) This application does not provide, sell, rent, share or trade your personal information to any unrelated third party, unless you have obtained your permission in advance, or the third party and this application (including the affiliates of this application) are either individually or jointly You provide the service, and after the service is over, it will be blocked from accessing all of this material that it has previously been able to access.<br>

b) This application also does not allow any third party to collect, edit, sell or distribute your personal information by any means. Any user of this application platform who engages in the above activities, once found, the application has the right to immediately terminate the service agreement with the user.<br>
c) For the purpose of serving the User, the App may use the information you use to provide you with information of interest to you, including but not limited to, to send you product and service information, or to share information with the App Partner so that they may You send information about its products and services (the latter requires your prior consent).<br>
3. Information disclosure<br>
In the following circumstances, this application will disclose your personal information in whole or in part according to your personal wishes or the law:<br>
a) disclose to third parties with your prior consent;<br>
b) in order to provide the products and services you request, you must share your personal information with third parties;<br>
c) disclosure to third parties or administrative or judicial authorities in accordance with the relevant provisions of the law, or at the request of the administrative or judicial authorities;<br>
d) If you have violated relevant Chinese laws, regulations or this application service agreement or related rules, you need to disclose it to third parties;<br>
e) If you are a qualified IP Complainant and have filed a complaint, it should be disclosed to the Respondent at the request of the Complainant so that both parties can handle possible rights disputes;<br>
f) Other disclosures that this application considers appropriate in accordance with laws, regulations or website policies.<br>
4. Information security<br>
a) We will not submit or upload your information, so your information is absolutely safe<br>



<h2>隐私协议<h2>

本应用尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，本应用会按照本隐私权政策的规定使用和披露您的个人信息。但本应用将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本应用不会将这些信息对外披露或向第三方提供。本应用会不时更新本隐私权政策。 您在同意本应用服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应用服务使用协议不可分割的一部分。<br>
 
1. 适用范围<br>
a) 在您使用本应用网络服务，进行您获取网络数据以帮助您选择靠谱的运营商。<br>
2. 信息使用<br>
a) 本应用不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和本应用（含本应用关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。<br>

b) 本应用亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何本应用平台用户如从事上述活动，一经发现，本应用有权立即终止与该用户的服务协议。<br>
c) 为服务用户的目的，本应用可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与本应用合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。<br>
3. 信息披露<br>
在如下情况下，本应用将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：<br>
a) 经您事先同意，向第三方披露；<br>
b) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；<br>
c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br>
d) 如您出现违反中国有关法律、法规或者本应用服务协议或相关规则的情况，需要向第三方披露；<br>
e) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；<br>
f) 其它本应用根据法律、法规或者网站政策认为合适的披露。<br>
4. 信息安全<br>
a) 我们不会将您的信息提交或者上传，所以您的信息绝对安全<br>


	
</div>

</body>

</html>